<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'messages'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'new-message'}}Send New Message{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </nav>
  <div class="col-md-12 main-body">
    {{outlet}}
  </div>
</div>
