<h2>
  Your Inbox
  <small>
    <br>
    Thankyou for using Electronic-Mail!
  </small>
</h2>
<hr>


  {{#each}}
    <div class="col-md-12 row">

      <div class="col-md-3 mail-item">
        <a href="#" {{action 'delete' this}}>x</a> | MAILER-DAEMON@AOL.COM
      </div>

      <div class="col-md-8 mail-item">
        {{#link-to 'message' this.id}}Failed Delivery Notice: &gt;&gt;{{title}}{{/link-to}}
      </div>

    </div>
  {{/each}}
