<h2>
  Your Messages
  <small>
    <br>
    Who do you want to block today?
  </small>
</h2>
<hr>

<ul class="list-title list-unstyled">
  {{#each}}
    <li class="li-name">{{recipient}} | {{title}}</li>
  {{/each}}
</ul>
