<h2>
  Send A Message!
  <small>
    <br>
    Harness the internet's magical powers.
  </small>
</h2>
<hr>
<form>
  <div class="form-group">
    <label for="Recipient">Recipient Address</label>
    {{input id="recipient" type="email" class="form-control" value=recipient required="true"}}
  </div>

  <div class="form-group">
    <label for="Title">Title</label>
    {{input id="title" class="form-control" value=title}}
  </div>

  <div class="form-group">
    <label for="body" class="form-label">Body</label>
    {{textarea id="body" rows="8" type="text" class="form-control" value=body required="true"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>

</form>
