<h2>
  Send A Message!
  <small>
    <br>
    Harness the internet's magical powers.
  </small>
</h2>
<hr>
<form>
  <div class="form-group">
    <label for="Recipient">Recipient Address</label>
    {{input id="recipient" class="form-control" value=recipient}}
  </div>

  <div class="form-group">
    <label for="Title">Title</label>
    {{input id="title" class="form-control" value=title}}
  </div>

  <div class="form-group">
    <label for="body" class="form-label">Body</label>
    {{textarea id="body" type="text" class="form-control" value=body}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>  

</form>
